#notificationhead {
    font-size: 35px;
    font-family: Amaranth;
    font-weight: bold;
    padding-left: 80px;
    padding-top: 70px;
    padding-bottom: 50px;
}

#notificationbody {
    padding-left: 80px;
    overflow-y: auto;
    height: 800px;
    scrollbar-width: none;
}

#notificationbody::-webkit-scrollbar {
    display: none;
}