#containerhome {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

#connectwithlogo {
    padding-top: 13px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 151px;
}

#connectwithlogo img {
    height: 88px;
}

#orangestripe {
    background-color: #FF9100;
    width: 50vw;
    height: 3px;
    margin-top: 3px;
}

#blackstripe {
    background-color: black;
    width: 50vw;
    height: 3px;
}

#navhome {
    margin-top: 30px;
}

#sloganhome {
    margin-left: 65px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
}

#center {
    overflow: hidden;
    width: 52%;
    height: 100%;
}

#storyhome {
    scrollbar-width: none;
    display: flex;
    padding-top: 23px;
    padding-left: 20px;
    padding-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
}

#storyhome::-webkit-scrollbar {
    display: none;
}

#posthome {
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 900px;
}

#posthome::-webkit-scrollbar {
    display: none;
}

.verticalline {
    border-left: 1px solid rgba(128, 128, 128, .2);
    height: 100vh;
    box-shadow: -1px 0px 4px 0px rgb(192, 192, 192);
}

.horizontalline {
    width: 60vw;
    border-top: 1px solid rgba(128, 128, 128, .2);
    box-shadow: 0px 1px 4px 0px rgb(192, 192, 192);
}

#rightside {
    width: 28%;
    height: 100%;
}

#userhome {
    margin: 50px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switchbutton button {
    background-color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    color: #0085FF;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#suggestionheading {
    margin-right: 8px;
    justify-content: center;
    display: flex;
    line-height: 0px;
    margin-bottom: 35px;
    align-items: center;
}

#suggestionheading button {
    background-color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    color: #0085FF;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#suggestionheading p {
    padding-left: 8px;
    padding-right: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#suggestionshome {
    scrollbar-width: none;
    height: 610px;
    overflow-x: hidden;
    overflow-y: auto;
}

#suggestionshome::-webkit-scrollbar {
    display: none;
}

#copyright {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #606060;
}