#containerhome {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 100%;
    border: 1px solid red;
}

#center {
    width: 52%;
    height: 100%;
    border: 1px solid green;
}

#rightside {
    width: 28%;
    height: 100%;
    border: 1px solid blue;
}

#homeconnect {
    height: 185px;
}

#logohome {
    height: 100px;
}