#containerhome {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

#connectwithlogo {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 164px;
}

#connectwithlogo img {
    height: 88px;
}

#orangestripe {
    background-color: #FF9100;
    width: 385px;
    height: 3px;
    margin-top: 3px;
}

#blackstripe {
    background-color: black;
    width: 385px;
    height: 3px;
}

#navhome {
    margin-top: 30px;
}

#sloganhome {
    margin-left: 65px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}

#center {
    overflow: hidden;
    width: 52%;
    height: 100%;
}

#storyhome {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.verticalline {
    border-left: 1px solid rgba(128, 128, 128, .2);
    height: 100vh;
    box-shadow: -1px 0px 4px 0px rgb(192, 192, 192);
}

.horizontalline {
    width: 998px;
    border-top: 1px solid rgba(128, 128, 128, .2);
    box-shadow: 0px 1px 4px 0px rgb(192, 192, 192);
}

#rightside {
    width: 28%;
    height: 100%;
}

#userhome {
    margin: 50px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switchbutton button {
    background-color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    color: #0085FF;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#suggestionheading {
    display: flex;
    line-height: 0px;
    margin-bottom: 35px;
    align-items: center;
}

#suggestionheading button {
    background-color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    color: #0085FF;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#suggestionheading p {
    padding-left: 70px;
    padding-right: 107px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#copyright {
    position: absolute;
    top: 93%;
    right: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #606060;
}