#story {
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#storyborder {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    border: 4px solid #FF9100;
    margin-bottom: 8px;
}

#storyProfilePicShape {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#storyProfilePic {
    height: auto;
    width: 100%;
}

#storyname {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#storyBackContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
}

#storyTopContainer {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 700px;
    background-color: white;
    overflow: hidden;
}

#storyImage {
    height: 100%;
}