body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#logo {
    width: 137px;
    height: 137px;
    position: relative;
    top: 35px;
    left: 35px;
}

#rect6 {
    position: absolute;
    /* top: 36.9px;
    left: 105px; */
    top: 3.85vh;
    left: 5.4vw;
    transform: scale(.9);
}

#rect7 {
    position: absolute;
    /* top: 32.2px;
    left: 90px; */
    top: 3.37vh;
    left: 4.67vw;
    transform: scale(.9);
}

#rect5 {
    position: absolute;
    /* top: -67px;
    left: 181px; */
    top: -7vh;
    left: 9.45vw;
    transform: scale(1.07);
}

#rect4 {
    position: absolute;
    /* top: -14px;
    left: 167px; */
    top: -1.35vh;
    left: 8.65vw;
    transform: scale(.94);
}

#rect8 {
    position: absolute;
    /* top: 203px;
    left: 334px; */
    top: 21.35vh;
    left: 17.35vw;
    transform: scale(.95);
}

#rect13 {
    position: absolute;
    /* top: 241px;
    left: 248px; */
    top: 25.35vh;
    left: 12.95vw;
    transform: scale(.98);
}

#rect11 {
    position: absolute;
    top: 434px;
    left: 993px;
    /* top: 45.6vh;
    left: 51.7vw; */
    transform: scale(.9);
}

#rect10 {
    position: absolute;
    top: 548px;
    left: 1118px;
    /* top: 57.6vh;
    left: 58.2vw; */
    transform: scale(.9);
}

#slogan {
    position: absolute;
    transform: scale(.8);
    bottom: 40px;
    right: 18px;
}

#containertop {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    height: 665px;
    width: 635px;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.36);
    background-color: white;
    border-radius: 55px;
}

#lets {
    position: absolute;
    transform: scale(.9);
}

#logincenter {
    text-align: center;
}

#connecthead {
    transform: scale(.9);
}

.textbox {
    background-color: #D9D9D9;
    border-radius: 13px;
    width: 400px;
    height: 45px;
    padding-left: 20px;
    border: none;
    margin: 8px;
    font-weight: bold;
    font-size: 14px;
}

.textbox::placeholder {
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
}

.textbox:focus {
    outline-color: #FF9100;
}

#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 87px;
}

#loadingBox {
    height: 101px;
}

#loading-p {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginButton {
    cursor: pointer;
    height: 50px;
    width: 420px;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 2px #6b6b6b;
    border: none;
    background-color: #FF9100;
    letter-spacing: 1px;
}

.myLink {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.Link {
    color: black;
    text-decoration: none;
}

#mySection {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#mySection-p {
    color: #6b6b6b;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#mySection-hr {
    background-color: #6b6b6b;
    margin: 0px;
    height: 0px;
    width: 25%;
}

.cancelLoading {
    position: absolute;
    z-index: 5;
    transform: translate(-50%, 0%);
    cursor: pointer;
    height: 62px;
    width: 422px;
    border-radius: 50px;
    background-color: #f98d00;
    border: 5px solid white;
}

.cancelLoading-p {

    text-shadow: 0px 0px 2px 2px #6b6b6b;
    letter-spacing: .5px;
    line-height: 0px;
    font-weight: bold;
    font-size: 19px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.myOutButton {
    cursor: pointer;
    height: 57px;
    width: 420px;
    border-radius: 50px;
    background-color: white;
    border: 4px solid #FF9100;
}

.myOutButton-img {
    transform: scale(.8);
}

.myOutButton-p {
    line-height: 0px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#loadingCWG {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0;
}

#loadingCWG-img {
    height: 100vh;
}