#messageSidebar {
    height: 100%;
    width: 8.2%;
    overflow: hidden;
}

#messageLogo {
    padding-top: 13px;
    display: flex;
    align-items: center;
    margin-left: 38px;
    height: 151px;
}

#messageLogo-img {
    height: 88px;
}

#messageCenter {
    width: 27.8%;
}

#ChatsList {
    overflow-y: auto;
    height: 90vh;
    margin-left: 40px;
    margin-top: 15px;
    scrollbar-width: none;
}

#ChatsList::-webkit-scrollbar {
    display: none;
}


#messageRightside {
    width: 64%;
}

#chattingTop {
    align-items: center;
    display: flex;
    margin: 28px 0px 18px 40px;
}

.callSize {
    height: 32px;
    margin: 0px 12px;
    padding: 0px 8px;
    cursor: pointer;
}

#userChats {
    height: 100%;
    overflow: auto;
    height: 720px;
    scrollbar-width: none;
}

#userChats::-webkit-scrollbar {
    display: none;
}

#chattingBottom {
    position: absolute;
    bottom: 30px;
    display: flex;
}

#chatTyping {
    background-color: #F3F3F3;
    padding: 15px;
    border-radius: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    width: 800px;
}

#chatTyping-img {
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
}

#chatTyping-input {
    margin-left: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16x;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
}

#chatTyping input::placeholder {
    color: black;
}

#chatSend {
    margin-left: 35px;
    display: flex;
    align-items: center;
}

#chatSend-img {
    margin-left: 25px;
    cursor: pointer;
    height: 34px;
}

#chatSendButton {
    padding-top: 2px;
    margin-left: 40px;
    background-color: rgb(255, 145, 0);
    border: none;
    height: 45px;
    width: 100px;
    border-radius: 22px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    box-shadow: rgb(128, 128, 128) 0px 0px 2px 0px;
    cursor: pointer;
}